{% extends "base_template.html" %}
{% block title %}Consultar Registros{% endblock %}
{% block content %}
    <h1>Consultar Registros Horarios</h1>

    <form method="post">
        <label for="legajo">Legajo:</label><br>
        <input type="text" name="legajo" id="legajo" required><br><br>

        <label for="dni4">DNI (últimos 4 dígitos):</label><br>
        <input type="text" name="dni4" id="dni4" maxlength="4" required><br><br>

        <label for="fecha_inicio">Fecha de inicio:</label><br>
        <input type="date" name="fecha_inicio" id="fecha_inicio" required><br><br>

        <label for="fecha_fin">Fecha de fin:</label><br>
        <input type="date" name="fecha_fin" id="fecha_fin" required><br><br>

        <input type="submit" value="Consultar">
    </form>
{% endblock %}