{% extends "base_template.html" %}
{% block title %}Resultados de Registros{% endblock %}
{% block content %}
    <h1>Registros de {{ trabajador.nombre }} {{ trabajador.apellido }}</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>Fecha</th>
            <th>Hora de Entrada</th>
            <th>Hora de Salida</th>
            <th>Dependencia</th>
        </tr>
        {% for r in registros %}
        <tr>
            <td>{{ r.fecha }}</td>
            <td>{{ r.horaentrada }}</td>
            <td>{{ r.horasalida if r.horasalida else "Sin registrar" }}</td>
            <td>{{ r.dependencia }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}