{% extends "base_template.html" %}
{% block title %}Resgistro de Entrada{% endblock %}
{% block content %}
    <h1>Registrar Entrada</h1>
    {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
        <ul>
          {% for mensaje in mensajes %}
            <li>{{ mensaje }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
        <label>Legajo:</label><br>
        <input type="text" name="legajo" required><br>

        <label>DNI (Últimos 4 dígitos):</label><br>
        <input type="text" name="dni4" maxlength="4" required><br>

        <label>Dependencia:</label><br>
        <select name="dependencia" required>
            <option value="D01">Edificio Central</option><br>
            <option value="D02">Talleres</option><br>
            <option value="D03">Centro Deportivo</option>
        </select><br><br>

        <input type="submit" value="Registrar Entrada">
    </form>
{% endblock %}

