{% extends "base_template.html" %}
{% block title %}Registro de Salida{% endblock %}
{% block content %}
    <h1>Registrar Salida</h1>
    {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
        <ul>
          {% for mensaje in mensajes %}
            <li>{{ mensaje }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
        <label for="legajo">Legajo:</label><br>
        <input type="text" name="legajo" id="legajo" required><br><br>

        <label for="dni4">DNI (Últimos 4 dígitos):</label><br>
        <input type="text" name="dni4" id="dni4" maxlength="4" required><br><br>

        <input type="submit" value="Verificar Salida">
    </form>
{% endblock %}
